.welcome {
  font-family: 'Josefin Sans', cursive;
  font-size: 40px;
}

.landing-wrapper {
  height: 100vh;
  color: aliceblue;
  background-color: black;
}

.linkedin-icon-wrapper {
  margin-top: 1rem;
}
